BASE_URL=http://localhost:3000

FINCH_API_URL=https://api.tryfinch.com
FINCH_SANDBOX_URL=https://sandbox.tryfinch.com/api

NEXT_PUBLIC_FINCH_CLIENT_ID=
FINCH_CLIENT_ID=
FINCH_CLIENT_SECRET=
FINCH_REDIRECT_URI=http://localhost:3000/api/finch/callback
FINCH_PRODUCTS=company directory individual employment payment pay_statement benefits
FINCH_SANDBOX=true
FINCH_WEBHOOK_SECRET=

# Update these with your Supabase details from your project settings > API
# https://app.supabase.com/project/_/settings/api
NEXT_PUBLIC_SUPABASE_URL=your-project-url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key
